.sand-h2 {
  color: #fff;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
}
.sand {
  align-items: center;
  background: #e5d272;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 100%;
}
.sand-button {
  background: #f6f7c5;
  border: none;
  color: #e5d272;
  cursor: pointer;
  font-family: "Lato";
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.1em;
  overflow: hidden;
  outline: none;
  padding: 1rem 3rem 1rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.sand-button:hover {
  background: transparent;
  color: #f6f7c5;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
}
.sand-button:hover:after {
  left: 0;
  transition: all 0.3s ease;
  width: 100%;
}
.sand-button:after {
  background: #f6f7c5;
  bottom: 0;
  content: "";
  height: 3px;
  left: inherit;
  position: absolute;
  right: 0;
  transition: all 0.3s ease;
  width: 0;
}
